.App {
  text-align: center;
}

.login {
  margin: 0px;
  padding: 0px;
  background-color: rgb(166, 205, 212);
  margin: auto 0px;
  width: auto;
  height: 1000px;
}

.tax_card_title {
  color: rgb(28, 77, 27);
}

.header_buttoin :hover {
  box-shadow: 6px 6px 8px rgb(177, 219, 247);
  transform: scale(1.5);
}
.tax_card_list:hover {
  box-shadow: 6px 6px 8px rgb(177, 219, 247);
  transform: scale(1.02);
  background-color: rgb(40, 98, 156);
  color: rgb(247, 247, 57);
}

.tax_card_list2:hover {
  box-shadow: 6px 6px 8px rgb(177, 219, 247);
  transform: scale(1.02);
  background-color: rgb(12, 88, 78);
  color: rgb(247, 247, 57);
}

.invest:hover {
  box-shadow: 8px 8px 8px rgb(43, 134, 150);
  transform: scale(1.03);
}

.taxible:hover {
  box-shadow: 6px 6px 8px rgb(177, 219, 247);
  transform: scale(1.07);
  background-color: rgb(245, 246, 247);
}
